.about-us {
  width: 100%;
  text-align: center;
  padding: 30px 0px;
  /* box-shadow: 0px -20px 20px rgb(14, 14, 14); */
  background-color: rgb(10, 10, 10);
  position: relative;
  z-index: 5;
  padding-bottom: 100px;
}

.about-container {
  width: 100%;
}

.about-container::after {
  content: "";
  display: table;
  clear: both;
}

.about-container h2,
.about-container h3,
.about-container p {
  color: rgb(245, 245, 245);
  font-weight: normal;
}

.who-are-we {
  float: left;
  text-align: right;
  width: 48%;
}

.who-are-we p {
  width: 500px;
  font-size: 20px;
  margin-left: auto;
}

.meet-the-team {
  width: 48%;
  float: right;
  text-align: left;
}

.team-item {
  width: 100%;
  display: block;
}

.team-item img {
  width: 140px;
}

.item-content h3 {
  width: fit-content;
  padding-bottom: 10px;
}

.item-content p {
  width: 400px;
}

.item-content a {
  color: inherit;
  text-decoration: none;
}

.item-content a:hover {
  text-decoration: underline;
}

.item-content h3,
.item-content p {
  color: rgb(245, 245, 245);
  font-weight: normal;
  margin: 0;
}

.item-content {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  margin-bottom: 50px;
}

.about-us h1 {
  font-size: 40px;
  color: rgb(245, 245, 245);
}

/* 

.about-us h2,
.about-us p {
  color: rgb(245, 245, 245) !important;
}

.who-are-we {
  width: 100%;
  margin-bottom: 100px;
}

.who-are-we img {
  width: 45%;
  float: left;
}

.who-content {
  width: 45%;
  float: right;
  text-align: left;
}

.who-content h2 {
  font-size: 30px;
}

.who-content p {
  font-size: 20px;
}

.who-are-we::after {
  content: "";
  display: table;
  clear: both;
}

.meet-the-team {
  width: 100%;
}

.meet-the-team img {
  float: right;
  width: 45%;
}

.team-content {
  width: 45%;
  float: left;
  text-align: right;
}

.team-content h2 {
  font-size: 30px;
}

.team-content p {
  font-size: 20px;
}

.meet-the-team::after {
  content: "";
  display: table;
  clear: both;
} */
