.contact {
  width: 100%;
  height: 100%;
  margin-bottom: 100px;
}

.contact-form {
  width: 700px;
  float: left;
  margin-top: 100px;
}

.contact-form h1 {
  font-size: 30px;
  color: rgb(31, 31, 71);
  margin: 0;
  padding: 0;
}

.contact-form p {
  font-size: 18px;
  color: rgb(54, 54, 97);
  margin: 0;
  padding: 0;
}

.contact-form form {
  width: 100%;
  margin-top: 20px;
}

.row {
  display: block;
  margin-bottom: 10px;
}

.row-content {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  grid-gap: 20px;
}

.row-content input,
.row textarea {
  width: 100%;
  height: 50px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgb(202, 202, 202);
  outline: none;
  font-family: inherit;
  font-size: 17px;
  color: rgb(31, 31, 71);
  transition: box-shadow 0.2s;
  box-sizing: border-box;
}

.row label {
  color: rgb(31, 31, 71);
}

.row-top,
.row-middle,
.row-bottom {
  margin-bottom: 20px;
  position: relative;
}

.budget-in {
  position: absolute;
  bottom: 16.5px;
  right: 0;
  color: rgb(31, 31, 71);
}

#word-counter {
  position: absolute;
  top: 0;
  right: 0;
}

.row textarea {
  height: 80px;
  resize: none;
  padding-top: 15px;
}

.row #submit {
  font-size: 15px;
  font-family: inherit;
  background-color: rgb(54, 54, 97);
  color: white;
  outline: none;
  border: none;
  padding: 10px 35px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.row #submit:hover {
  background-color: rgb(92, 92, 161);
}

.row-content input::placeholder,
.row textarea::placeholder {
  color: rgb(202, 202, 202);
}

.contact-form .underline {
  position: absolute;
  bottom: 0px;
  height: 2px;
  width: 100%;
}

.contact-form .underline-textarea {
  bottom: 5px;
}

.contact-form .underline:before {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: rgb(255, 0, 85);
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

input:focus ~ .underline:before,
textarea:focus ~ .underline:before {
  transform: scaleX(1);
}

input:valid ~ .underline::before,
textarea:valid ~ .underline:before {
  transform: scaleX(1);
  background: rgb(0, 255, 119);
}

.contact-information {
  float: left;
  text-align: left;
  width: fit-content;
  margin-top: 100px;
  margin-left: 350px;
}

.contact-information p {
  margin: 0;
  padding: 0;
  color: rgb(54, 54, 97);
  font-size: 19px;
}

.mail-to {
  font-size: 19px !important;
  color: rgb(255, 0, 85) !important;
}

.mail-to:hover {
  text-decoration: underline;
}

.contact-information h1 {
  color: rgb(31, 31, 71);
  font-size: 30px;
  width: 50%;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.contact-information a {
  color: rgb(54, 54, 97);
  font-size: 30px;
  text-decoration: none;
  margin: 0;
  padding: 0;
  transition: all 0.2s;
}

.contact-information a:hover {
  color: rgb(255, 0, 85);
}

.contact::after {
  display: table;
  content: "";
  clear: both;
}
