.footer {
  background-color: rgb(13, 18, 39);
  color: white;
  position: relative;
  text-align: left;
  overflow-x: hidden;
}

.footer hr {
  border: 1px solid rgb(54, 54, 97);
}

.top-section {
  margin-top: 100px;
  margin-bottom: 50px;
}

.top-section h1 {
  font-size: 45px;
  margin: 0;
}

.top-section-text {
  width: 30%;
  float: left;
}

.top-section-text p {
  font-size: 20px;
  color: rgb(135, 135, 211);
}

.top-section-button {
  float: right;
}

.top-section-button a {
  color: white;
  background-color: rgb(255, 0, 85);
  border-radius: 0px;
  padding: 20px 25px;
  text-decoration: none;
  font-size: 18px;
  box-shadow: 0px 0px 0px rgb(255, 0, 85);
  transition: box-shadow 0.3s;
}

.top-section-button a:hover {
  box-shadow: 0px 0px 10px rgb(255, 0, 85);
}

.top-section::after {
  display: table;
  content: "";
  clear: both;
}

.bottom-section {
  margin-top: 50px;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.column h1 {
  font-size: 25px;
}

.column a {
  color: white;
  text-decoration: none;
  display: block;
  margin-bottom: 20px;
  transition: all 0.2s;
  width: fit-content;
}

.column a:hover {
  color: rgb(255, 0, 85);
}

.column-email {
  color: rgb(255, 0, 85) !important;
}

.column-email:hover {
  text-decoration: underline;
}

.policy {
  display: unset !important;
  color: rgb(77, 145, 223) !important;
}

@media (max-width: 768px) {
  .top-section {
    text-align: center;
    margin-bottom: 80px;
    margin-top: 50px;
  }

  .top-section h1 {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .top-section-text {
    float: none;
    width: 100%;
  }

  .top-section-text p {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .top-section-button {
    float: none;
    margin-top: 50px;
  }

  .bottom-section {
    display: block;
    text-align: center;
  }

  .bottom-section a {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }

  .column {
    margin-bottom: 50px;
  }
}

@media (min-width: 770px) {
}
