.container {
  width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1500px) {
  .container {
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
  }

  .buttons {
    width: 1300px;
  }

  .image-slider {
    width: 1300px;
  }

  .sponsors .right-description {
    width: 42%;
  }

  .sponsors .right-description p {
    width: 80%;
  }

  .sponsor-list {
    width: 55%;
  }
}

@media (max-width: 1300px) {
  .container {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }

  .buttons {
    width: 1024px;
  }

  .our-services .item {
    margin-bottom: 100px;
  }

  .about-us {
    width: 45%;
  }

  .about-us p {
    width: 80%;
  }

  .stats-panel {
    padding: 2px 50px 2px 35px;
    bottom: 50px;
  }

  .image-slider .wrapper {
    width: 1024px;
  }

  .sponsors .right-description p {
    width: 80%;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 768px;
  }

  .section-name {
    width: 100%;
  }

  .navbar .links {
    display: none;
  }

  .navbar .signin {
    display: none;
  }

  .showcase {
    width: 100%;
    height: 100vh;
  }

  .buttons {
    width: 100%;
    text-align: center;
  }

  .buttons h1 {
    font-size: 12vw;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
  }

  .buttons p {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .buttons a {
    font-size: 17px;
    padding: 15px 35px;
  }

  .services {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
  }

  .item p {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .what-we-do {
    float: none;
    width: 100%;
  }

  .what-we-do p {
    width: 100%;
  }

  .our-services {
    width: 100%;
    float: none;
    margin-top: 100px;
  }

  .our-services .item {
    width: 100%;
    display: block;
  }

  .who-are-we .left-panel {
    float: none;
    width: 100%;
  }

  .left-panel img {
    width: 100%;
    max-width: unset;
  }

  .stats-panel {
    position: unset;
    box-shadow: none;
    padding: 0;
    text-align: center;
  }

  .about-us {
    width: 100%;
    float: none;
    text-align: center;
    margin-top: 0px;
  }

  .about-us p {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .about-us h1 {
    width: 100%;
  }

  .why-us {
    margin-top: 0px;
    text-align: center;
  }

  .why-us p {
    width: 100%;
  }

  .sponsors {
    margin-top: 50px;
    text-align: center;
  }

  .sponsor-list {
    width: 100%;
  }

  .sponsor-item {
    width: 32.5%;
    height: 200px;
    margin: 0;
    margin-left: 3px;
    margin-right: 3px;
    padding: 0;
  }

  .sponsor-filter {
    width: 50% !important;
  }

  .right-description {
    width: 100% !important;
    text-align: center;
    margin-top: 0px;
  }

  .right-description p {
    margin-bottom: 50px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .image-slider {
    display: none;
  }
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0px 10px;
    box-sizing: border-box;
  }

  .section-name {
    width: 100%;
  }

  .navbar .links {
    display: none;
  }

  .navbar .signin {
    display: none;
  }

  .showcase {
    width: 100%;
    height: 100vh;
  }

  .buttons {
    width: 100%;
    text-align: center;
  }

  .buttons h1 {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
  }

  .buttons p {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .buttons a {
    font-size: 17px;
    padding: 15px 35px;
  }

  .services {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
  }

  .item p {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .what-we-do {
    float: none;
    width: 100%;
  }

  .what-we-do p {
    width: 100%;
  }

  .our-services {
    width: 100%;
    float: none;
    margin-top: 100px;
  }

  .our-services .item {
    width: 100%;
    display: block;
  }

  .who-are-we .left-panel {
    float: none;
    width: 100%;
  }

  .left-panel img {
    width: 100%;
  }

  .stats-panel {
    position: unset;
    box-shadow: none;
    padding: 0;
  }

  .about-us {
    width: 100%;
    float: none;
    text-align: center;
    margin-top: 0px;
  }

  .about-us h1 {
    width: 100%;
  }

  .why-us {
    margin-top: 10px;
    text-align: center;
  }

  .sponsors {
    margin-top: 50px;
  }

  .sponsors .right-description {
    width: 100%;
  }

  .sponsor-item {
    width: 48%;
    height: 130px;
    margin: 0;
    margin-left: 3px;
    margin-right: 3px;
    padding: 0;
  }

  .sponsor-filter {
    width: 60% !important;
  }

  .right-description {
    width: 100%;
    text-align: center;
    margin-top: 0px;
  }

  .right-description p {
    margin-bottom: 50px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-height: 600px) {
  .showcase {
    height: 800px !important;
  }
}

@media (min-width: 2400px) {
  .left-panel {
    float: right;
  }
}
