.builds {
  min-height: 100vh;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.builds p {
  font-size: 20px;
  color: rgb(31, 31, 71);
  font-weight: bold;
}

.builds-container {
  width: 100%;
}

.builds-images {
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.builds-images img {
  width: 240px;
  height: 240px;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transform: scale(1);
  z-index: 0;
  transition: all 0.4s;
  transition-delay: 0.3s;
}

.builds-images img:hover {
  transform: scale(1.5);
  z-index: 9;
}

.dialog {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
  overflow: hidden;
}

.dialog img {
  width: 35%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
