.hero {
  width: 100%;
  min-height: 400px;
  background: rgb(187, 208, 255);
  padding-top: 20px;
  position: relative;
}

.hero-text {
  width: 1500px;
  transform: translateY(50%);
  text-align: left;
}

.hero h1 {
  font-size: 50px;
  color: rgb(31, 31, 71);
  margin: 0;
}

.hero p {
  color: rgb(54, 54, 97);
  font-size: 20px;
  padding: 10px;
  padding-left: 0px;
  margin: 0px;
  width: 500px;
}

.page-name {
  color: rgb(255, 0, 85) !important;
  font-weight: bold !important;
  font-size: 18px !important;
  margin: 0 !important;
  margin-bottom: 0px !important;
  padding: 10px !important;
  padding-left: 0px !important;
}

@media (max-width: 768px) {
  .hero-text {
    transform: translateY(100%);
  }
}
