video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.showcase {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  position: relative;
  z-index: 4;
}

.buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1500px;
  text-align: left;
}

.buttons h1 {
  color: white;
  font-size: 85px;
  width: 60%;
  margin: 0;
}

.buttons p {
  font-size: 25px;
  color: white;
  width: 50%;
  margin-top: 20px;
  margin-bottom: 60px;
}

.buttons a {
  color: white;
  background-color: rgb(255, 0, 85);
  border-radius: 0px;
  padding: 20px 40px;
  text-decoration: none;
  font-size: 20px;
  box-shadow: 0px 0px 0px rgb(255, 0, 85);
  transition: box-shadow 0.3s;
}

.buttons a:hover {
  box-shadow: 0px 0px 10px rgb(255, 0, 85);
}

.mouse {
  position: absolute;
  left: 50%;
  bottom: 5px;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
}

.mouse img {
  width: 100%;
}
