.sponsors {
  width: 100%;
  text-align: left;
  background-color: white;
  margin-top: 100px;
  margin-bottom: 100px;
}

.right-description {
  width: 50%;
  float: right;
}

.sponsors h1 {
  color: rgb(31, 31, 71);
  font-size: 45px;
  margin: 0;
}

.sponsors p {
  width: 65%;
  color: rgb(54, 54, 97);
  font-size: 24px;
  margin-bottom: 60px;
  margin-top: 20px;
}

.sponsor-list {
  width: 50%;
  float: left;
}

.sponsor-item {
  display: inline-block;
  width: 200px;
  height: 200px;
  border-radius: 0px;
  cursor: pointer;
  transition: all 0.3s;
  padding: 10px;
  margin-right: 4px;
  margin-bottom: 0px;
  overflow: hidden;
  background-color: rgb(31, 31, 71);
  position: relative;
}

.sponsor-filter {
  width: 140px;
  height: 140px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: brightness(0%) saturate(100%) invert(75%) sepia(60%) saturate(1419%)
    hue-rotate(185deg) brightness(105%) contrast(105%);
  transition: all 0.3s;
}

.sponsor-item:hover {
  background-color: rgb(63, 63, 119);
}

.sponsors::after {
  display: table;
  content: "";
  clear: both;
}
