@media (max-width: 1024px) {
  .all-videos-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
  }
  .video-item {
    height: 100%;
  }

  .video-item video {
    height: 100%;
  }
}

@media (max-width: 768px) {
  .all-videos-container {
    display: block !important;
    box-sizing: border-box;
  }

  .sponsor-videos-container {
    display: block !important;
    box-sizing: border-box;
  }

  .sponsor-videos-container video {
    max-width: unset !important;
    width: 100% !important;
  }

  .video-item {
    width: 100% !important;
    height: auto !important;
    margin-bottom: 10px;
  }

  .video-item video {
    width: 100% !important;
    height: auto !important;
  }

  .dialog-content {
    width: 85% !important;
  }

  .error-message h1 {
    font-size: 50px !important;
  }

  .error-message p {
    font-size: 20px !important;
  }
}
